{% extends "base.html" %}
{% load static %}
{% block content %}
    <h1>Autoparts and Accessories</h1>
       <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
       {% for product in products %}
        <div class="col">
          <div class="card shadow-sm">
            {% if product.image %}
                <img src="{{ product.image.url }}" height="225">
            {% else %}
                <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
            {% endif %}
            <div class="card-body">
              <p class="card-text">{{ product.name }} ({{ product.created.date }})</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <a type="button" class="btn btn-sm btn-outline-secondary" href="{% url 'product_details' pk=product.pk %}">View</a>
                    <a type="button" class="btn btn-sm btn-outline-secondary" href="{% url 'product_update' pk=product.pk %}">Edit</a>
                    <a type="button" class="btn btn-sm btn-outline-secondary" href="#">Buy</a>
                    <a type="button" class="btn btn-sm btn-outline-secondary" href="#">Add to Cart</a>
                </div>
                <small class="text-muted">{{ product.category.name }}</small>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div></br>
        <a href="{% url 'product_add' %}"><button type="button" class="btn btn-sm btn-outline-secondary"><b>Add New Item</b></button></a>
{% endblock %}