{% extends "base.html" %}
{% load static %}
{% block content %}
    <h1>Product Details</h1>
  {% if product.created %}
      <div class="date">
          <p><strong>Date of entry: </strong>{{ product.created.date }}</p>
      </div>
  {% endif %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
    img {
      display: block;
<!--      margin-left: auto;-->
<!--      margin-right: auto;-->
    }
    .btn {
      background-color: DodgerBlue;
      border: none;
      color: white;
      padding: 12px 30px;
      cursor: pointer;
      font-size: 20px;
    }

    /* Darker background on mouse-over */
    .btn:hover {
      background-color: RoyalBlue;
    }
    </style>

  <h2><strong>Item name: </strong> {{ product.name }}</h2>
  <p><strong>Description: </strong>{{ product.description|linebreaksbr }}</p>
  <p><strong>Category: </strong>{{ product.category }}</p>
  <p><strong>Price: </strong>{{ product.price }}</p>
  <img src="{{ product.image.url }}" height="300">

    </br>
    </br>
    <a href="{% url 'index' %}"><button type="button" class="btn btn-sm btn-outline-secondary"><b>back</b></button></a>
    <a href="#"><button type="button" class="btn btn-sm btn-outline-secondary"><b>Add to Cart</b></button></a>
    <a href="#"><button type="button" class="btn btn-sm btn-outline-secondary"><b>Buy</b></button></a>

{% endblock %}