{% block content %}
<div class="col-md-4">
    {% if error %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endif %}
    <h1> Login </h1>
    <form method="POST" action="{% url 'login' %}">
        {% csrf_token %}
        Username:
        <br/>
        <input type="text" name="username" />
        <br/>
        Password:
        <br/>
        <input type="password" name="password" />
        <br/>
        <br/>
        <input class="btn btn-primary" type="submit" value="Login" />
    </form>
</div>
{% endblock %}